<div class="wrapper">
  <header class="main-header">
    <a class="logo">
      <span class="logo-lg"><b>Admin </b></span>
    </a>
    <nav class="navbar navbar-static-top" role="navigation">
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
      </a>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="assets/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
              <span class="hidden-xs">Xin chào!</span>
            </a>
            <ul class="dropdown-menu">
              <li class="user-footer">
                <div class="pull-left">
                  <a href="#" class="btn btn-default btn-flat">Tài khoản</a>
                </div>
                <div class="pull-right">
                  <a href="#" class="btn btn-default btn-flat">Cấu hình</a>
                </div>
                <div class="pull-right">
                  <a (click)="logout()" class="btn btn-default btn-flat">Đăng xuất</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <aside class="main-sidebar">
    <section class="sidebar">
      <div class="user-panel">
        <div class="pull-left image">
          <img src="assets/dist/img/hutech.png" class="img-circle" alt="User Image">
        </div>
      </div>
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Tìm...">
          <span class="input-group-btn">
            <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
            </button>
          </span>
        </div>

      </form>
      <ul class="sidebar-menu" data-widget="tree">
        <li class="treeview">
          <a href="#"><i class="fa fa-table"></i> <span>Quản lý người dùng</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a [routerLink]="['/admin/user-mentor-list']"><i class="fa fa-link"></i>Giảng viên</a></li>
            <li><a [routerLink]="['/admin/user-trainee-list']"><i class="fa fa-link"></i>Học viên</a></li>
          </ul>
        </li>
      </ul>

      <ul class="sidebar-menu" data-widget="tree">
        <li class="treeview">
          <a [routerLink]="['/admin/course-list']"><i class="fa fa-calendar"></i> <span>Quản lý khóa học</span>
          </a>
        </li>
      </ul>

      <ul class="sidebar-menu" data-widget="tree">
        <li class="treeview">
          <a [routerLink]="['/admin/assigned-list']"><i class="fa fa-calendar"></i> <span>Quản lý Khóa học đã nhận </span>
          </a>
        </li>
      </ul>

      <ul class="sidebar-menu" data-widget="tree">
        <li class="treeview">
          <a [routerLink]="['/admin/skill-list']"><i class="fa fa-calendar"></i> <span>Quản lý chuyên môn</span>
          </a>
        </li>
      </ul>

      <ul class="sidebar-menu" data-widget="tree">
        <li class="treeview">
          <a [routerLink]="['/admin/category-list']"><i class="fa fa-calendar"></i> <span>Quản lý loại khóa học</span>
          </a>
        </li>
      </ul>

    </section>
  </aside>
  <div class="content-wrapper">
    <section class="container-fluid">
      <router-outlet></router-outlet>
    </section>
  </div>

  <div class="control-sidebar-bg"></div>
</div>
