<footer class=" footer-nav bg-dark ">
  <div class=" container-fluid">
    <div class="text-center footer-padding-top">
      <div class="row" style="color: white">
        <div class="col-sm-3">
          <img src="assets/img/Footer.png" >
          <p>Trung tâm gia sư trực tuyến</p>
          <p> Trụ sở chính: Phước Long B, Q.9 </p>
          <!-- <div style="display: none">
            <audio controls autoplay loop>
              <source src="assets/OnMyWay-AlanWalkerSabrinaCarpenterFarruko-5919403.mp3" type="audio/mpeg">
            </audio>
          </div> -->
        </div>
        <div class="col-sm-3 ">
          <h3>Về chúng tôi</h3>
          <a href="#">Giới thiệu</a><br>
          <a href="#">Điều khoản sử dụng</a><br>
          <a href="#">Quy chế hoạt động</a><br>
          <a href="#">Chính sách bảo mật</a><br>
          <a href="#">Trung tâm chăm sóc khách hàng</a>
        </div>
        <div class="col-sm-3 box-info ">
          <h4><strong> Liên hệ</strong></h4>
          <p><i class="fas fa-map-marker-alt"></i> <strong>Địa chỉ:</strong> 70/6, đường 339, Q.9, TP.HCM
          </p>
          <p><i class="fas fa-phone"></i> <strong>SDT:</strong> 0909090909</p>
          <p><i class="fas fa-envelope"></i> <strong>Email:</strong> <a
              href="mailto:hvkhanhan@gmail.com">hvkhanhan@gmail.com</a></p>
        </div>
        <div class="col-sm-3 ">
          <h3></h3>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.851925678073!2d106.76992171533428!3d10.822641661296997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317526f8b7fdaea1%3A0x5a0318302a5875d5!2zNiDEkMaw4budbmcgMzM5LCBQaMaw4bubYyBMb25nIEIsIFF14bqtbiA5LCBI4buTIENow60gTWluaCwgVmlldG5hbQ!5e0!3m2!1sen!2s!4v1562079800087!5m2!1sen!2s"
            width="80%" height="auto" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</footer>
