<div class="container-12">
    <a class="close">
        <button type="submit" class="btn btn-warning" (click)="onClose()">X</button>
    </a>
    <form [formGroup]="formfroupAdd" (ngSubmit)="onSubmit(formfroupAdd.value)">
        <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLabel">Thêm loại khóa học mới</h3>
        </div>
        <div class="form-group">
            <label for="">Tên nhân viên: </label>
            <input type="text" class="form-control"  placeholder="Thông tin Nhân viên" formControlName="name" required>
            <div class="validation-error" *ngIf="formfroupEdit.get('name').invalid && formfroupEdit.get('name').touched">
            <div *ngIf="formfroupEdit.get('name').errors['required']"> Xin nhập họ tên nhân viên</div>
            </div>
        </div>

        <div class="form-group">
            <label for="">Email: </label>
            <input type="text" class="form-control"  placeholder="Email" formControlName="email" required>
            <div class="validation-error" *ngIf="formfroupEdit.get('email').invalid && formfroupEdit.get('email').touched">
            <div *ngIf="formfroupEdit.get('email').errors['required']"> Xin nhập Email nhân viên</div>
            </div>
        </div>

        <div class="form-group">
            <label for="">Số điện thoại: </label>
            <input type="text" class="form-control"  placeholder="SDT" formControlName="phone" required>
            <div class="validation-error" *ngIf="formfroupEdit.get('phone').invalid && formfroupEdit.get('phone').touched">
            <div *ngIf="formfroupEdit.get('phone').errors['required']"> Xin nhập SDT nhân viên</div>
            </div>
        </div>

        <div class="form-group">
            <label for="">Địa chỉ: </label>
            <input type="text" class="form-control"  placeholder="Địa chỉ" formControlName="address" required>
            <div class="validation-error" *ngIf="formfroupEdit.get('address').invalid && formfroupEdit.get('address').touched">
            <div *ngIf="formfroupEdit.get('address').errors['required']"> Xin nhập địa chỉ nhân viên</div>
            </div>
        </div>
        <button type="submit" [disabled]="formfroupAdd.invalid" class="btn btn-lg btn-success btn-block">Thêm loại khóa học</button>
    </form>
</div>
